C:/Users/C25Gary.Severance/OneDrive - afacademy.af.edu/Documents/Math 378/378 Final Project/Final Project - Sev/.Rproj.user/shared/notebooks/84381033-eda/1/s/c1mglmw7wyp0l_t